@font-face {
  font-family: "DubaiRegular";
  src: url("/fonts/DubaiRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bukrabolditalic";
  src: url("/fonts/Bukrabolditalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bukrabold";
  src: url("/fonts/Bukrabold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
